// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-blog_pad {
	padding: 15px 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.block-blog {
	display: inline-block;
	text-align: center;
	width: 100%;
	max-width: 920px;
	height: 230px;
	margin: 0px 10px 15px 10px;
	
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0 4px 50px rgba(0,0,0,0.1);
}
.block-blog a {
	color: #262124;
}
.block-blog-icon {
	background: #d3d3d3;
	float: left;
	width: 300px;
	height: 230px;
}	
.block-text-blog_pad {
	text-align: left;
	padding: 15px 30px 15px 300px;
	margin-left: 50px;
	height: 200px;
}

.block-text-blog_pad h2 {
	font-size: 200%;
	font-weight:300;
	margin: 0;
}
.block-text-blog_pad p {
	font-size: 90%;
	line-height: 1.5em;
	margin: 0;

}

#author {
	font-size: 70%;
}