		<div class="wrapper">
		<div class="wrapper_pad">
			
			<div class="container-about">
			<div class="container-about_pad">
			<div class="block-about">
			<div class="block-about-icon">

			</div>
				<div class="block-text-about_pad">
						<h2>Yaroslav Yuzvenko</h2>
						<p> Biography </p>
			</div>
			</div>
			<div class="block-about">
			<div class="block-about-icon">

			</div>
				<div class="block-text-about_pad">
						<h2>Roman Ovcharov</h2>
						<p> Biography </p>
			</div>
			</div>		
			</div>					
			
		</div>
		

</div>
</div>
