<div class="wrapper">
		<h1 id="welcome_h1">You are welcome on YL</h1>
		<p>Study.Improvement.Development.</p>
		<div class="container">
		<div class="container_pad">

			<div class="block">
				<div class="block_pad">
					<a href=""><h1 class="block_h1">  Study </h1></a>
					<p class="block_p1"> some study </p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<a href=""><h1 class="block_h1">  Improvement </h1></a>
					<p class="block_p1"> some improvement </p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<a href=""><h1 class="block_h1">  Development </h1></a>
					<p class="block_p1"> some development </p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<a href="blog.html"><h1 class="block_h1">  Blog </h1></a>
					<p class="block_p1"> some blog </p>
					
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<a href=""><h1 class="block_h1">  Music </h1></a>
					<p class="block_p1"> some music</p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<a href=""><h1 class="block_h1">  Books </h1></a>
					<p class="block_p1"> some books </p>
				</div>
			</div>

				


		</div>
		</div>

		<%= image_tag("logo.jpg",width: '320', height: '320', alt: '' , class: "image_logo_big") %>
</div>