<div class="wrapper">
		<h1 id="welcome_h1">You are welcome on YL</h1>
		<p>Study.Improvement.Development.</p>
		<div class="container">
		<div class="container_pad">
<div class="row">
			<div class="block">
				<div class="block_pad">
					<%= link_to projects_path do %>
					<h1 class="block_h1">  Projects </h1>
					<% end %>
					<p class="block_p1"> what we are doing </p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<%= link_to labs_path do %>
					<h1 class="block_h1"> Labs</h1>
					<% end %>
					<p class="block_p1"> the wonderful world of physics </p>
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<%= link_to abouts_path do %>
					<h1 class="block_h1">  About </h1>
					<% end %>
					<p class="block_p1"> we are selfish </p>
				</div>
			</div>
</div>
<div class="row">
			<div class="block">
				<div class="block_pad">
					<%= link_to posts_path do %>
					<h1 class="block_h1">  Blog </h1>
					<% end %>
					<p class="block_p1"> how we think and see the world </p>
					
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					
					<%= link_to books_path do %>
					<h1 class="block_h1">  Books </h1>
					<% end %>
					<p class="block_p1"> what we suggest readings </p>
					
				</div>
			</div>

			<div class="block">
				<div class="block_pad">
					<%= link_to new_contact_path do %>
					<h1 class="block_h1"> Contact  </h1>
					<% end %>
					<p class="block_p1"> write, we are waiting </p>
				</div>
			</div>
</div>
				


		</div>
		</div>

		<%= image_tag("logo.jpg",width: '320', height: '320', alt: '' , class: "image_logo_big") %>
</div>