<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
			<h1 id="welcome_h1">Thank you for your message!</h1>
			<p>We'll get back to you soon.</p>
		</div>
	</div>
</div>