<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
<h1 id="welcome_h1">Editing Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project  , :class => "button"%> |
<%= link_to 'Back', projects_path  , :class => "button"%>
<br>
<br>
</div>
</div>
</div>
