<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
		<h1 id="welcome_h1">Editing Book</h1>
<%= render 'form' %>

<%= link_to 'Show', @book  , :class => "button" %> 
<%= link_to 'Back', books_path  , :class => "button" %>
</div>
</div>
</div>