<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
		<h1 id="welcome_h1"> New about </h1>

<%= render 'form' %>

<%= link_to 'Back', abouts_path , :class => "button"  %>
<br>
<br>
</div>
</div>
</div>
