<div class="wrapper">
	<div class="wrapper_pad">
		<div class="article_container">
			<h1 id="welcome_h1">New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path , :class => "button" %>
<br>
<br>
</div>
</div>
</div>

