$dark: #424652;
$light: #9a9da4;
$blue: #8bc6db;
$white: #FFFFFF;
$border: #E9E9E9;
$l-dark: #2f4f4f;
$dis-dark: #6d8383;
$hover-down: #202228;

input[type="text"],input[type="file"],input[type="email"],input[type="password"], textarea {
	background: #eaeded;
	width: 90%;
	max-width: 90%;
	height: 2.5em;
	border: 2px solid $border;
	padding: 1em;
	margin: 0.5em 0 2em 0;
}
textarea {
	min-height: 20em;
	min-width: 90%;
}
input[type="submit"] , .button
{
	background-color: #2F4F4F; 
	border-radius: 3px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
 	&:hover {
 		color: $light;
 	}
}

.delete_button {
	background-color: #7f0000;
	&:hover {
 		color: $dark;
 	}
}
#button_download {
	padding: 20px;
	background: #FFF;
	border: 2px solid $dark;
	color: $dark;
	&:hover {
		color: #FFF;
		background: $dark;
	}
}


.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}
.pagination:after {
	clear: box;
}
.pagination {
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page , .current , .next_page {
		padding: 0.75em 1rem;
		margin: 0 0.25em;
		border-radius: 0.15em;
		line-height: 20px;
		text-decoration: none;
		background: $dark;
		font-weight: 700;
		font-size: 0.7em;
		font-style: normal;
		color: $white;
		&:hover {
			background: $l-dark;
		}

	}
	.current {
		background: $l-dark;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			background: $dis-dark;
		}
	}
}



.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #8d8df6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
